body{
    background-color: black;
    }

.titulo {
    background-color: black;
    color: rgb(255, 0, 0);
        }

.texto {
    color:white
       }

.link{
    color: rgb(10, 255, 2);
     }   