body {
    background-color: rgb(0, 0, 0);
    text-align: center;
}
.esquerda{
    text-align: left;
}

.titulo {
    background-color: black;
    font-size: 20px;
    color: rgb(255, 0, 0);
}

.link {
    color: rgb(24, 136, 1)
}

.titulo2 {
    background-color: black;
    color: rgb(255, 0, 0);
}

.textob {
    color: white
}

.link {
    color: rgb(10, 255, 2);
}

.imagens img {
    width: 22cm;
    height: 20cm;
    position: sticky;
    top: 0;
}
.botao{
    background-color: rgb(7, 6, 6);
    font-size: 16px;
    margin-bottom: 10px;
}